:root {
    /* COLORS */
    --background1: #5a5d59;
    --background2: #191E22;
    --font_color:  #F1F5FB;
    --font_color2: #888A8C;
    --line_color: #5d5f61;
}

/* CUSTOM CURSOR */
.hasCursor {
  cursor: -webkit-image-set(url(../../assets/img/projects/i-circle--white@2x.png) 1x, url(../../assets/img/projects/i-circle--white@2x.png) 2x) 7 7,pointer;
}

.hasCursorORANGE {
  cursor: -webkit-image-set(url(../../assets/img/projects/i-circle--orange@2x.png) 1x, url(../../assets/img/projects/i-circle--orange@2x.png) 2x) 7 7,pointer;
}

/* TEXT */
.tittle{
  font-size: 2.8rem;
  color: var(--font_color);
  padding-bottom: 3rem;
  z-index: 2;
  margin-top: 3rem;
  }

hr.line {
    border-top: 1.4px dashed var(--line_color);
    width: 100%;
    z-index: 2;
    margin: 0;
  }
  
  .text-tag  {
    font-size: 1.8rem;
    display: flex;
    z-index: 2;
    color: var(--font_color);
  }
  
  
  .text-tag:hover .img-container{
    opacity: 1;
    visibility:visible;
    transition:opacity .8s;
  }
  .text-tag:hover .text-small{
    color: var(--font_color1);
    transition:opacity .5s;
  }

  /* IMAGE POSITIONING  and hidden*/
  
  .img-container {
    position: relative;
    visibility: hidden;
    opacity: 0;
    transition:opacity .5s;
    z-index: 3;
    top: -60px;
    left: 0px;
  }

  tr.center {
    align-items:flex-start;
  }
  
  tr.line {
        border-bottom: 1.4px dashed var(--line_color);
        z-index: 2;
      }
  td{
    padding-top: 1.7rem;
    text-align:start;
    z-index: 2;
    margin-bottom: -3.3rem;
    
  }
  table{
    width: 100%;
    z-index: 2;
    margin-bottom: 5rem;
  }
  .small-column{
    width: 46%;
    padding-left: 8%;
  }
  .large-column{
    width: 30%;
    padding-left: 10%;
  }
  .picture-column{
    width: 20%;
  }
  .empty-column{
    width: 12%;
  }
  .text-small{
    font-size: 1rem;
    line-height: 1.3rem;
    color: var(--font_color2)
  }
  
  
  .wrapper {
    position: flex;
    overflow:hidden; /* Cropea la imagen que sale del contenedor */
    border-radius: 0px; /* Bordes Redondos */
    padding: 0 5rem;
    padding-top: 2rem;
    padding-bottom: 4.5rem;
    display: flex;
    flex-direction: column;
    
  }
  
