.section-half-big{  
  background-color: #FEFFFF;
}

.filler-white-half-big{
  height:4.25vmin;
}

.split-two-big-image {
  height:45vw;
  z-index: 1;
  top: 0;
  width: 60%;
  display: flex;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.split-two-big-text {
  height:45vw;
  z-index: 1;
  top: 0;
  width: 40%;
  display: flex;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-two-text-img {
left: 0;
float: left;
background-color: #FEFFFF;
}

.right-big-image-half {
right: 0;
}

.img-mockup-website-big{
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-box-shadow: -4px 1px 15px -6px #000000; 
  box-shadow: -4px 1px 15px -6px #000000;
}
.wrapper-text-half-big{
  position: absolute;
  font-weight: bold;
  text-align: left;
  bottom: 0vw;
  width: 27vw;
  color: black;
}
.title-text-half-big{
  font-size: 2.35vmax;
  letter-spacing: -0.05vmax;
  line-height: 2.6vmax;
  margin-bottom: 4vmin;
}
.subtitle-text-half-big{
  margin-bottom: 1.8vmin;
  line-height: 2vmax;
  font-size: 1.4vmax;
}
