.split-two-image {
    height:58.5vw;
    z-index: 1;
    top: 0;
    width: 50%;
    display: flex;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-two-image {
  left: 0;
  float: left;
  background-color: #FEFFFF;
}

.right-two-image {
  right: 0;
  background-color: #FD7226;
}

.wrapper-mockup-half{
  position:relative;
}

.img-mockup-half-vertical{
    height: 47vw;
    width: 26vw;
    position: relative;
}

.img-mockup-half-horizontal{
    height: 19vw;
    width: 31vw;
    position: relative;
}

@media only screen and (max-width: 700px) {
    .split-two-image {
      width: 100%;
    }
  }