
.containertools{
  background-color: black;
  display: flex;
}

.our-tools {
    margin-left: 0%;
    margin-right: 0%;

    box-sizing: border-box;
    height: 100%;

    display: block;
    align-items: center;
    text-align: center;
    z-index: 1;
    background-color: transparent;
  }
  
  .our-tools ul {
    padding-left: 2rem;
    margin: 0;
    margin-left: 5rem;
  }
  
  .our-tools ul li {
    display: inline-block;
    width:100px;
    height:125px;
    position: flex;
    margin: 20px;
    margin-top: -1rem;
    padding: 2.1rem 1rem;
  }
  
  .our-tools ul li img {
    width: 100%;
    height: 100%;
    filter: brightness(0) invert(1);
  }
  .our-tools ul li img {
    width: 100%;
    height: 100%;
    filter: brightness(0) invert(1);
  }


  .title-tools{
      font-size: 1.3rem;
      display: flex;
      flex-wrap: wrap;
      color: white;
      float: left;
      margin-left: 53rem;
      align-items: center;
      z-index: 1;
      text-shadow: 2px 2px 4px black;
      
  }