.our-clients {
    position: relative;
    display: block;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    align-items: center;
    height: auto;
    text-align: center;
    justify-content: center;
    z-index: 1;
  }
  
  .our-clients ul {
    padding-left: 2rem;
    margin: 0;
  }
  
  .our-clients ul li {
    list-style: none;
    display: inline-block;
    width:150px;
    height:90px;
    position: relative;
    overflow: hidden;
    cursor:pointer;
    margin: 10px;
    transition: .5s;
    padding: 2.1rem 1rem;
  }
  
  .our-clients ul li img {
    width: 100%;
    height: 100%;
    filter: brightness(0) invert(1);
  }
  .our-clients ul li img {
    width: 100%;
    height: 100%;
    filter: brightness(0) invert(1);
  }

  .our-clients-not ul li img:nth-child(1) {
    transform: translateY(0);
    transition: .5s;
  }
  .our-clients-not ul li img:nth-child(2) {
    transform: translateY(0);
    transition: .5s;
  }
  
  /*Hover-Section*/
  
  
  .our-clients-not ul li:hover img:nth-child(1) {
    transform: translateY(-100%);
    transition: .5s;
  }
  .our-clients-not ul li:hover img:nth-child(2) {
    transform: translateY(-100%);
    transition: .5s;
  }   

  .title-clients{
      font-size: 1.5rem;
      color: white;
      float: left;
      width: 20%;
      z-index: 1;
      text-shadow: 2px 2px 4px black;
      
  }