body{
    z-index: 0;
}
.zig-zag{
    top: 39rem;
    left: -1rem;
    position:absolute;
    transform: rotate(210deg);
  }
  
  .corona{
    top: 4rem;
    left: 5rem;
    position:absolute;
    transform:rotate3d(1,1,0,190deg);
  }
  
  .line-horizontal{
    top: 26.3rem;
    left: 69rem;
    position:absolute;
  }
  .linea-vertical{
    top: 9.3rem;
    left: 28rem;
    position:absolute;
    transform:rotate(68deg);
  }

  .triangulo{
    top: 8rem;
    left: 77rem;
    position:absolute;
    transform: rotate(270deg);
  }  
  .circle{
    top: 25rem;
    left: 85rem;
    position:absolute;
    transform: rotate(-4deg);
  }  