.wrapper-all-projects-big{
  background-color: white;
  width: 100%;
  padding-top: 20vmin;
}


.body-about-info-text-big{
    
    text-align: left;
    margin: 0 auto;
    width: 75%;
  }

  .title-info-text-big-projects{
    color: black;
    font-size: 4vmax;
    line-height: 6vmax;
    z-index: 1;
    text-align: center;
  }

  .container-body-info-text-big-projects{
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 2vmin;
  }

  .body-info-text-big{
    color: #1f1f22aa;
    font-size: 1.6vmax;
    line-height: 2.1vmax;
    z-index: 1;
    margin: 0 auto;
  }
