.body-about-info-text-big{
    text-align: left;
    margin: 0 auto;
    width: 85%;
    z-index: 1;
  }

  .title-info-text-big{
    background: linear-gradient(45deg, var(--color), var(--color2));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size:  5.5vw;
    line-height: 6.4vw;
    z-index: 1;
    text-align: center;
  }
  .body-info-text-big{
    color: white;
    font-size: 24px;
    line-height: 1.4;
    font-weight: 600;
    z-index: 1;
    margin: 0 auto;
  }
  .pink-big-text{
    --color: #9796f0;
    --color2: #fbc7d4;
    }
  
  .default-big-text{
    --color:#5660e5;
    --color2: #f18195;
    }
  
  .green-big-text{
    --color: #4c98bb;
    --color2: #786fd5;
    }
  
  .yellow-big-text{
    --color: #f7ff00;
    --color2: #db36a4;
    }

  .container-body-info-text-big{
    text-align: center;
    width: 62%;
    margin: 0 auto;
    margin-top: 4vh;
  }

p.information-info-text-big {
    color: white;
    z-index: 1;
  }
