.main-products-template{
	text-align:center;
	background-color:#0c1014;
	position: relative;
	padding-top: 8vh;
}

.wrapper-framework{
	margin-top: 8vw;
}
.wrapper-framework-white{
	background-color: white;
	padding-bottom: 10vmin;
}
.horizontal-container-frameworks li{
	display: inline-block;
	margin: 0 1.5em;
}

.title-framework{
	font-size: 1.9vmax;
	color: white;
	padding-bottom: 5vmin;
}
.title-framework-white{
	font-size: 1.9vmax;
	color: black;
	padding-bottom: 5vmin;
}